.edit-form__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  margin: 0 0 30px 0;
  box-sizing: border-box;
  padding: 0px 0 13px 0;
  outline: none;
}

.edit-form__input:last-child {
  margin: 0;
}

.edit-form__input:focus {
  padding: 5px 0 8px 5px;
  border: rgb(156, 156, 221) 3px solid;
  border-radius: 5px;
}

@media screen and (max-width: 660px) {
  .edit-form__input {
    width: 238px;
  }
}
